// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #6ccd2a;
  --ion-color-secondary: #91159a;
  --ion-color-light: #519a15;
  --ion-background-color: #0f9a8e;
}
