// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #5A67F2;
  --ion-color-secondary: #7F9CF5;
  --ion-color-light: #F5F7FF;
  --ion-background-color: #ffffff;
}
